node_modules
.next
out
dist
output
backups
.env
.env.local
.env.*.local
*.log
*.tsbuildinfo
.DS_Store
prisma/migrations/dev
.vercel
coverage
playwright-report
test-results
.playwright-cli
public/uploads/*
!public/uploads/.gitkeep
